* {
    margin: 0;
    padding: 0;
    }

body {
    background-color: #EFF0F0;
    }

.header {
    background-color: #43281C;
    color: #FBF2C0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 50px;
    }

.header > img {
    height: 2em;
    }

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px;
    }